#p1 {font-variant: small-caps; padding-left: 32px;}
#p2 {text-decoration: underline;}
#p3 {font-size: 20px;}
#p4 {color: #800080;}
#p5 {font-weight: bold;}
#p6 {font-family: cursive;}
#p7 {text-shadow: 2px 2px;}